// COLORS
$white: #fff;

$light-gray-1: #f7f7f7;
$light-gray-2: #eee;

$dark-gray-1: #777;
$dark-gray-2: #999;
$dark-gray-3: #333;

// Gradient: Sunset 
$sunset-primary: #d76d77;
$sunset-primary-dark: #d0525e; 

$sunset-secondary: #3a1c71;
$sunset-tertiary: #ffaf7b;

// Gradient: Night
$night-primary: #000046;
$night-primary-light: #000068;

$night-secondary: #1CB5E0;