.section-forecast {
    // https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6
    .scroll-bar {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 2rem; // check if being applied
        color: $dark-gray-4;
        &__card {
            display: inline-block;
//            box-shadow: 0 1rem 3rem rgba(#000, .2);
//            background-color: blue; // for testing
            border-radius: 3px;
            font-size: 4rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem 5rem;
            .icon-wrapper {
                color: $sunset-primary;
                font-size: 9rem;
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.section-info {
//    background-color: $dark-gray-5;
    margin: 0;
    padding: 0;
    overflow: hidden;
//    height: 40vh; // placeholder for development
    
    background-image: 
        linear-gradient(45deg, 
            $sunset-primary 0%,
            $sunset-tertiary 40%,
            $sunset-tertiary 60%,
            $sunset-primary);
//    background-color: $light-gray-1;
//    background-color: $sunset-tertiary;
    color: $sunset-tertiary;
    
    .card-container {
//        background-color: red; // for testing
        background-color: rgba($white, .9);
        border-radius: 4px;
        box-shadow: 0 1rem 2rem rgba(#000, .2);
        text-transform: uppercase;
        text-align: center;
        font-weight: 700; // try 500?
        font-size: 5rem;
        padding: 2rem;
        margin: 8rem;
        &:not(:last-child) { // first col of ea row
//            background-color: blue; // for testing
            margin-right: 0;
        }
    }
    
    .row {
        &:not(:last-child) { // first row
//             background-color: black; // for testing
            .card-container {
//                background-color: black; // for testing
                margin-bottom: 0;
            }
        }
    }
    
    .info {
        margin: 3rem;
        &__icon {
            font-size: 12rem;
            margin: 2rem 0 4rem 0;
        }
    }
}

.section-map {
    .map {
        z-index: 2;
        height: 60vh;
    }
}
.section-cities {
    height: 70vh; // placeholder
    padding-top: 10px;
    background-image: linear-gradient(to left bottom, 
        $sunset-tertiary, 
        $sunset-primary,
        $sunset-secondary);
}