.section-forecast {
    height: 20vh; // placeholder
}

.section-info {
    height: 50vh; // placeholder
    background-image: linear-gradient(45deg, 
        $sunset-primary 0%,
        $sunset-tertiary 40%,
        $sunset-tertiary 60%,
        $sunset-primary);
}

.section-map {
    .map {
        z-index: 2;
        height: 60vh;
    }
}
.section-cities {
    height: 40vh; // placeholder
    padding-top: 10px;
    background-image: linear-gradient(to left bottom, 
        $sunset-tertiary, 
        $sunset-primary,
        $sunset-secondary);
}