body {
    font-family: 'Roboto', sans-serif; // 300, 400, 500, 700
    font-weight: 400;
    line-height: 1.7;
    color: $dark-gray-3;
}

.gradient-text {
    background-image: linear-gradient(to bottom left, $sunset-tertiary 65%, $sunset-primary);
    -webkit-background-clip: text;
    color: transparent;
}