.header {
    height: 100vh;
    background-image: linear-gradient(to left bottom, 
        $sunset-secondary, 
        $sunset-primary,
        $sunset-tertiary);
    background-size: cover;
//    background-position: top;
    position: relative;
    color: $light-gray-1;
}

.extra-info {
//    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    .col {
        font-size: 4rem;
        .sun-time {
            display: inline-block;
            font-weight: 300;
            transform: translateX(3rem);
        }
    }
//    list-style: none;
    text-align: center;
}

.weather {
    padding-top: 30rem;
    position: relative;
    
    &__city {
        font-size: 5rem;
        font-weight: 300;
    }
    
    &__temp {
        font-size: 23rem;
        padding: .5rem 0;
        font-weight: 400;
        span {
            font-size: 8rem;
            position: absolute;
            transform: translateY(2.5rem);
        }
    }
    
    &__descrip {
        font-size: 6.5rem;
        padding-bottom: .5rem;
    }
    
    &__range {
        &--lo, &--hi {
            font-weight: 300;
            font-size: 5rem;
        }
    }
}