*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.gradient-text {
  background-image: linear-gradient(to bottom left, #ffaf7b 65%, #d76d77);
  -webkit-background-clip: text;
  color: transparent; }

.u-center-text {
  text-align: center !important; }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, #3a1c71, #d76d77, #ffaf7b);
  background-size: cover;
  position: relative;
  color: #f7f7f7; }

.extra-info {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 2.5rem;
  text-align: center; }
  .extra-info .col {
    font-size: 4rem; }
    .extra-info .col .sun-time {
      display: inline-block;
      font-weight: 300;
      transform: translateX(3rem); }

.section-search {
  margin: 0; }
  .section-search .search-icon {
    transform: translate(7rem, -0.7rem); }
  .section-search .search-bar {
    margin: 2.5rem auto;
    margin-top: 3rem;
    transform: translateX(9rem);
    display: inline-block;
    color: #333;
    width: 80%; }
    .section-search .search-bar__input {
      font-size: 3rem;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 90%;
      display: block;
      border: none;
      font-family: inherit;
      color: inherit;
      border-bottom: 3px solid transparent;
      transition: all .3s; }
      .section-search .search-bar__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        border-bottom: 3px solid #d0525e; }

.weather {
  padding-top: 25rem;
  position: relative; }
  .weather__city {
    font-size: 5rem;
    font-weight: 300; }
  .weather__temp {
    font-size: 23rem;
    padding: .5rem 0;
    font-weight: 400; }
    .weather__temp span {
      font-size: 8rem;
      position: absolute;
      transform: translateY(2.5rem); }
  .weather__descrip {
    font-size: 6.5rem;
    padding-bottom: .5rem; }
  .weather__range--lo, .weather__range--hi {
    font-weight: 300;
    font-size: 5rem; }

.section-forecast .scroll-bar {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 2rem;
  color: #878787; }
  .section-forecast .scroll-bar__card {
    display: inline-block;
    border-radius: 3px;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 5rem; }
    .section-forecast .scroll-bar__card .icon-wrapper {
      color: #d76d77;
      font-size: 9rem;
      margin: 0;
      padding: 0; }
    .section-forecast .scroll-bar__card p {
      margin: 0;
      padding: 0; }

.section-info {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(45deg, #d76d77 0%, #ffaf7b 40%, #ffaf7b 60%, #d76d77);
  color: #ffaf7b; }
  .section-info .card-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    padding: 2rem;
    margin: 8rem; }
    .section-info .card-container:not(:last-child) {
      margin-right: 0; }
  .section-info .row:not(:last-child) .card-container {
    margin-bottom: 0; }
  .section-info .info {
    margin: 3rem; }
    .section-info .info__icon {
      font-size: 12rem;
      margin: 2rem 0 4rem 0; }

.section-map .map {
  z-index: 2;
  height: 60vh; }

.section-cities {
  padding: 12rem 7rem;
  background-image: linear-gradient(to left bottom, #ffaf7b, #d76d77, #3a1c71); }
  .section-cities .card-page {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .section-cities .row {
    margin: 0; }
  .section-cities .card-container {
    text-align: center;
    padding: 0; }
    .section-cities .card-container .card {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      padding: 7rem;
      margin: 2rem;
      font-size: 12rem;
      height: 40rem;
      width: 23rem; }
      .section-cities .card-container .card .icon-wrapper {
        font-size: 12rem; }
  .section-cities #city-carousel {
    overflow: hidden; }
    .section-cities #city-carousel p {
      color: #333;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 3.7rem;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .section-cities #city-carousel .temp {
      font-size: 6rem;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .section-cities #city-carousel .icon-wrapper {
      color: #d76d77;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .section-cities #city-carousel .carousel-control-prev {
      transform: scale(2) translateX(-3rem); }
    .section-cities #city-carousel .carousel-control-next {
      transform: scale(2) translateX(3rem); }
    .section-cities #city-carousel .carousel-control {
      width: 1%; }
