.header {
    position: relative;
}
.weather {
    transform: translateY(-15rem);
}

.alert-card {
    position: absolute;
    text-align: center;
    z-index: 999;
    overflow: hidden;
    padding: 3rem;
    font-size: 4.5rem;
    position: fixed;
}

.card-header {
    text-transform: uppercase;
    padding: 3rem;
    font-size: 5.5rem;
}

.dismiss-icon {
    transform: translateX(-1rem);
}

.dismiss:visited,
.dismiss:link{
    float: right;
    padding-right: 4rem;
    padding-top: 3rem;
    color: white;
    text-decoration: none;
}

.card-text {
    padding: 2rem;
    border-bottom: solid 3px white;
}

.card-body {
}

.alert-icon {
    transform: translateX(-3rem);
    opacity: 1;
}

.alert-home__icon {
    color: red;
    font-size: 10rem;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

.alert-home {
    background-color: black;
    padding: 4rem;
    opacity: .7;
    display: inline-block;
    font-size: 4rem;
    text-align: center;
    margin: 3rem;
    width: 70%;
    transform: translateX(8rem);
}
/*
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%, -50%);
*/
}
