<!--{% load static %}-->
<!DOCTYPE html>

<html lang="en">
    <head>
       <title>Current Weather</title>
       <meta charset="UTF-8">
       <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="../../static/weather/vendors/css/normalize.css" type="text/css">
       <link href="../../static/weather/vendors/css/all.css" rel="stylesheet">
       
       <!-- BOOTSTRAP -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- MAPBOX -->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<!--       <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />-->
        <link rel="stylesheet" href="../../static/weather/../../css/style.css" type="text/css">
        <link rel="stylesheet" href="../../static/weather/../../css/warning-style.css" type="text/css">
        
        <script>
            function closeAlert() {
                document.getElementById("alert-card").style.opacity = 0;
            }
            function openAlert() {
                document.getElementById("alert-popup").style.opacity = 1;
            }
        </script>
    </head>

    <body>
       <div class="header">
          <!-- EXTREME WEATHER NOTIFICATION -->
           <div class="card text-white bg-danger mb-3 alert-card" id="alert-card">
          <div class="card-header">
              <i class="fas fa-exclamation-triangle alert-icon"></i>
              Extreme Weather Alert
          </div>
          <div class="card-body">
                <p class="card-text">There is extreme weather in <b>3 of your saved locations</b> and in <b>2 nearby cities.</b>
                <br> Tap to see more information.</p>
                <a class="dismiss" href="javascript:closeAlert();"><i class="fas fa-window-close dismiss-icon"></i> DISMISS</a>
<!--                <input type="button" value="Dismiss" onclick="closeAlert()"> -->
          </div>
        </div>

            <div class="container-fluid extra-info">
                <div class="row ">
                    <div class="col extra-info__sunrise">
                        <img src="../../static/weather/vendors/icons8/sunrise.png" alt="sunrise">
                        <div class="sun-time">5:50</div>
                    </div>
                    <div class="col extra-info__sunset">
                        <img src="../../static/weather/vendors/icons8/sunset.png" alt="sunset">
                        <div class="sun-time">8:35</div>
                    </div>
                </div>
            </div>
            
           <!-- Search form -->
           <div class="section-search">
               <img src="../../static/weather/vendors/icons8/search.png" class="search-icon" alt="search icon">
               <form action="#" class="search-bar">
               <input type="text" class="search-bar__input" placeholder="Enter city name">
               </form>
           </div>
            
            <div class="alert-home">
                <i class="fas fa-exclamation-triangle alert-home__icon"></i>
                There is currently extreme weather going on. Tap to view details.
                
            </div>
            
             <div class="weather u-center-text">
                 <h2 class="weather__city">Berkeley</h2>
                 <h1 class="weather__temp">67<span>&#8457;</span></h1>
                 <h2 class="weather__descrip">Sunny</h2>
                 <h2 class="weather__range">
                     <span class="weather__range--hi">&uarr; 74&deg;</span>
                     &nbsp;
                     <span class="weather__range--lo">&darr; 55&deg;</span>
                </h2>
             </div>
       </div>
       
       <div class="section-forecast">
           <div class="scroll-bar">
               <div class="scroll-bar__card">
                   <p class="hour">6:00</p>
                   <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                   <p class="temp">64&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">7:00</p>
                   <div class="icon-wrapper"><ion-icon name="cloudy"></ion-icon></div>
                   <p class="temp">59&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">8:00</p>
                   <div class="icon-wrapper"><ion-icon name="rainy"></ion-icon></div>
                   <p class="temp">56&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">9:00</p>
                   <div class="icon-wrapper"><ion-icon name="thunderstorm"></ion-icon></div>
                   <p class="temp">55&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">10:00</p>
                   <div class="icon-wrapper"><ion-icon name="moon"></ion-icon></div>
                   <p class="temp">54&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">11:00</p>
                   <div class="icon-wrapper"><ion-icon name="cloudy-night"></ion-icon></div>
                   <p class="temp">55&deg;</p>
               </div>
               
                <div class="scroll-bar__card">
                   <p class="hour">12:00</p>
                   <div class="icon-wrapper"><ion-icon name="moon"></ion-icon></div>
                   <p class="temp">59&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">1:00</p>
                   <div class="icon-wrapper"><ion-icon name="rainy"></ion-icon></div>
                   <p class="temp">58&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">2:00</p>
                   <div class="icon-wrapper"><ion-icon name="cloudy-night"></ion-icon></div>
                   <p class="temp">57&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">3:00</p>
                   <div class="icon-wrapper"><ion-icon name="cloudy-night"></ion-icon></div>
                   <p class="temp">56&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">4:00</p>
                   <div class="icon-wrapper"><ion-icon name="cloudy"></ion-icon></div>
                   <p class="temp">57&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">5:00</p>
                   <div class="icon-wrapper"><ion-icon name="partly-sunny"></ion-icon></div>
                   <p class="temp">61&deg;</p>
               </div>
                <div class="scroll-bar__card">
                   <p class="hour">6:00</p>
                   <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                   <p class="temp">62&deg;</p>
               </div>
           </div>
         </div>
         
       <div class="section-info container-fluid">
            <div class="row">
               <!-- WIND -->
                <div class="col card-container">
                    <div class="info gradient-text">
                        <i class="fas fa-wind gradient-text info__icon"></i>
                        <div class="info__descrip">8 mph</div>
                    </div>
                </div>
                <!-- UV -->
                <div class="col card-container">
                    <div class="info gradient-text">
                        <i class="fas fa-sun gradient-text info__icon"></i>
                        <div class="info__descrip">HIGH</div>
                    </div>
                </div>
            </div>
            <div class="row">
               <!-- HUMIDITY -->
                <div class="col card-container">
                    <div class="info gradient-text">
                        <i class="fas fa-tint gradient-text info__icon"></i>
                        <div class="info__descrip">84%</div>
                    </div>
                </div>
                <!-- PRECIPITATION -->
                <div class="col card-container">
                    <div class="info gradient-text">
                        <i class="fas fa-cloud-rain gradient-text info__icon"></i>
                        <div class="info__descrip">3%</div>
                    </div>
                </div>
            </div>
       </div>
       
       <div class="section-map">
           <div class="map" id='map'></div>
           <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoiand1NzA4MiIsImEiOiJjanhqdzJ1bTIxaWxwM3pvanVhaXgxbDVkIn0.6oaGe7OT5XIvjTvfZS_diQ';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/jwu7082/cjxjwg6di51je1cptubb4bits', // style id
                scrollZoom: false
            });
            </script>
       </div>
            
       <div class="section-cities">
           <div id="city-carousel" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <!-- FIRST SLIDE -->
                   <div class="carousel-item active">
                         <!-- SLIDE CONTENT -->
                          <div class="container-fluid card-page" alt="First Slide">
                            <div class="row">
                                    <div class="col card-container">
                                          <div class="card">
                                             <p>Indianapolis</p>
                                              <div class="icon-wrapper"><ion-icon name="cloudy"></ion-icon></div>
                                              <p class="temp">69&deg;</p>
                                          </div>
                                    </div>
                                    <div class="col card-container">
                                        <div class="card">
                                           <p>Chicago</p>
                                            <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                                            <p class="temp">73&deg;</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col card-container">
                                    <div class="card">
                                       <p>Flower Mound</p>
                                        <div class="icon-wrapper"><ion-icon name="partly-sunny"></ion-icon></div>
                                        <p class="temp">84&deg;</p>
                                    </div>
                                </div>
                                <div class="col card-container">
                                      <div class="card">
                                         <p>Oakland</p>
                                          <div class="icon-wrapper"><ion-icon name="cloudy"></ion-icon></div>
                                          <p class="temp">70&deg;</p>
                                      </div>
                                </div>
                           </div>
                       </div>
                       <!-- END OF SLIDE CONTENTS -->
                    </div> <!-- END OF 1ST SLIDE -->
                    
                    <!-- SECOND SLIDE -->
                    <div class="carousel-item">
                        <div class="carousel-item active">
                         <!-- SLIDE CONTENT -->
                          <div class="container-fluid card-page" alt="Second Slide">
                            <div class="row">
                                    <div class="col card-container">
                                          <div class="card">
                                             <p>Chino</p>
                                              <div class="icon-wrapper"><ion-icon name="rainy"></ion-icon></div>
                                              <p class="temp">75&deg;</p>
                                          </div>
                                    </div>
                                    <div class="col card-container">
                                        <div class="card">
                                           <p>San Francisco</p>
                                            <div class="icon-wrapper"><ion-icon name="partly-sunny"></ion-icon></div>
                                            <p class="temp">68&deg;</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col card-container">
                                    <div class="card">
                                       <p>Rancho Cucamonga</p>
                                        <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                                        <p class="temp">88&deg;</p>
                                    </div>
                                </div>
                                <div class="col card-container">
                                      <div class="card">
                                         <p>Concord</p>
                                          <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                                          <p class="temp">83&deg;</p>
                                      </div>
                                </div>
                           </div>
                        </div>
                        <!-- END OF SLIDE CONTENTS -->
                    </div>
                </div> <!-- END OF 2ND SLIDE -->
                    
                <!-- THIRD SLIDE -->
                <div class="carousel-item">
                    <div class="carousel-item active">
                       <!-- SLIDE CONTENT -->
                          <div class="container-fluid card-page" alt="Third Slide">
                            <div class="row">
                                    <div class="col card-container">
                                          <div class="card">
                                              <div class="icon-wrapper"><ion-icon name="cloudy"></ion-icon></div>
                                          </div>
                                    </div>
                                    <div class="col card-container">
                                        <div class="card">
                                            <div class="icon-wrapper"><ion-icon name="sunny"></ion-icon></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col card-container">
                                    <div class="card">
                                        <div class="icon-wrapper"><ion-icon name="thunderstorm"></ion-icon></div>
                                    </div>
                                </div>
                                <div class="col card-container">
                                      <div class="card">
                                          <div class="icon-wrapper"><ion-icon name="partly-sunny"></ion-icon></div>
                                      </div>
                                </div>
                           </div>
                        </div>
                       <!-- END OF SLIDE CONTENTS -->
                    </div>
                </div> <!-- END OF 3RD SLIDE -->
            </div>
            
            <!-- BOOTSTRAP CAROUSEL CONTROLS -->
             <a class="carousel-control-prev" href="#city-carousel" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#city-carousel" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
            </a>
            
        </div> <!-- END OF CAROUSEL -->
         <!-- TODO; ADD STICKY BUTTON -->
        </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
</html>






