{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
       <title>Current Weather</title>
       <meta charset="UTF-8">
       <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
       <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
    </head>

    <body>
       <!-- remove below after setup -->
        <div class="container">
            <div class="jumbotron text-light bg-primary">
                <h1>Congratulations</h1>
                <p>You've set your environment up correctly!</p>
            </div>

            <a href="/weather/forecast/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast</a>
            <a href="/weather/forecast/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast with alert</a>
            <a href="/weather/comparison/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison</a>
            <a href="/weather/comparison/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison with alert</a>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="vendors/js/jquery.waypoints.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>



