<!--{% load static %}-->
<!DOCTYPE html>

<html lang="en">
    <head>
       <title>Current Weather</title>
       <meta charset="UTF-8">
       <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="../../static/weather/vendors/css/normalize.css" type="text/css">
       <link href="../../static/weather/vendors/css/all.css" rel="stylesheet">
       
       <!-- BOOTSTRAP -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        
        <!-- Mapbox -->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
        
<!--      <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />-->
<!--      <link rel="stylesheet" href="/static/weather/vendors/bootstrap/css/bootstrap.css" type="text/css">-->
<!--       <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />-->
        <link rel="stylesheet" href="../../static/weather/css/style.css" type="text/css">
    </head>

    <body>
       <div class="header">
            <div class="container-fluid extra-info">
                <div class="row ">
                    <div class="col extra-info__sunrise">
                        <img src="../../static/weather/vendors/icons8/sunrise.png" alt="sunrise">
                        <div class="sun-time">5:50</div>
                    </div>
                    <div class="col extra-info__sunset">
                        <img src="../../static/weather/vendors/icons8/sunset.png" alt="sunset">
                        <div class="sun-time">8:35</div>
                    </div>
                </div>
            </div>

             <div class="weather u-center-text">
                 <h2 class="weather__city">Berkeley</h2>
                 <h1 class="weather__temp">67<span>&#8457;</span></h1>
                 <h2 class="weather__descrip">Sunny</h2>
                 <h2 class="weather__range">
                     <span class="weather__range--hi">&uarr; 74&deg;</span>
                     &nbsp;
                     <span class="weather__range--lo">&darr; 55&deg;</span>
                </h2>
             </div>

            <div class="btn-dual">
            
            </div>
       </div>
       
       <div class="section-forecast">
           placeholder
       </div>
       <div class="section-info">
           placeholder
       </div>
       <div class="section-map">
           <div class="map" id='map'></div>
           <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoiand1NzA4MiIsImEiOiJjanhqdzJ1bTIxaWxwM3pvanVhaXgxbDVkIn0.6oaGe7OT5XIvjTvfZS_diQ';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/jwu7082/cjxjwg6di51je1cptubb4bits', // style id
    //        center: [-77.38, 39], // starting position
    //        zoom: 3 // starting zoom
                scrollZoom: false
            });
            </script>
       </div>
            
       <div class="section-cities">
           placeholder
       </div>
        
        <!--<script src="js/script.js"></script>--> 
    </body>
</html>






